.x .c1-1 {
  letter-spacing: normal
}

.x .c1-2 {
  text-transform: none
}

.x .c1-3 {
  background-color: rgb(255, 255, 255)
}

.x .c1-4 {
  width: 100%
}

.x .c1-5>div {
  position: relative
}

.x .c1-6>div {
  overflow: hidden
}

.x .c1-7>div {
  margin-top: auto
}

.x .c1-8>div {
  margin-right: auto
}

.x .c1-9>div {
  margin-bottom: auto
}

.x .c1-a>div {
  margin-left: auto
}

.x .c1-b {
  font-family: Open Sans, '华文黑体', STHeiti, Heiti SC, sans-serif
}

.x .c1-c {
  font-size: 16px
}

.x .c1-h {
  padding-top: 40px
}

.x .c1-i {
  padding-bottom: 40px
}

.x .c1-j {
  padding: 0 !important
}

.x .c1-k:before {
  content: ""
}

.x .c1-l:before {
  display: table
}

.x .c1-m:before {
  clear: both
}

.x .c1-n:after {
  content: ""
}

.x .c1-o:after {
  display: table
}

.x .c1-p:after {
  clear: both
}

.x .c1-s {
  position: relative
}

.x .c1-t {
  margin-bottom: 24px
}

.x .c1-v {
  margin-left: auto
}

.x .c1-w {
  margin-right: auto
}

.x .c1-x {
  padding-left: 24px
}

.x .c1-y {
  padding-right: 24px
}

.x .c1-z {
  max-width: 100%
}

.x .c1-14 {
  display: none
}

.x .c1-16 {
  padding-top: 32px
}

.x .c1-17 {
  padding-bottom: 32px
}

.x .c1-18 {
  flex: 1
}

.x .c1-19 {
  display: flex
}

.x .c1-1a {
  justify-content: space-between
}

.x .c1-1b {
  align-items: center
}

.x .c1-1c {
  padding-top: 24px
}

.x .c1-1d {
  justify-content: flex-start
}

.x .c1-1e {
  width: 30%
}

.x .c1-1f {
  justify-content: center
}

.x .c1-1g {
  text-align: center
}

.x .c1-1h {
  width: 40%
}

.x .c1-1i {
  display: inline-block
}

.x .c1-1j {
  font-family: Playfair Display, Hiragino Sans GB, sans-serif
}

.x .c1-1o {
  letter-spacing: inherit
}

.x .c1-1p {
  text-transform: inherit
}

.x .c1-1q {
  text-decoration: none
}

.x .c1-1r {
  word-wrap: break-word
}

.x .c1-1s {
  overflow-wrap: break-word
}

.x .c1-1t {
  display: inline
}

.x .c1-1u {
  cursor: pointer
}

.x .c1-1v {
  border-top: 0px
}

.x .c1-1w {
  border-right: 0px
}

.x .c1-1x {
  border-bottom: 0px
}

.x .c1-1y {
  border-left: 0px
}

.x .c1-1z {
  color: rgb(70, 114, 176)
}

.x .c1-20 {
  font-weight: inherit
}

.x .c1-21:hover {
  color: rgb(37, 65, 100)
}

.x .c1-22:active {
  color: rgb(23, 43, 68)
}

.x .c1-23 {
  letter-spacing: 0.031em
}

.x .c1-24 {
  line-height: 1
}

.x .c1-25 {
  margin-top: 0
}

.x .c1-26 {
  margin-bottom: 0
}

.x .c1-27 {
  padding-top: 8px
}

.x .c1-28 {
  padding-bottom: 8px
}

.x .c1-29 {
  padding-left: 16px
}

.x .c1-2a {
  padding-right: 16px
}

.x .c1-2b {
  width: fit-content
}

.x .c1-2c {
  border-style: solid
}

.x .c1-2d {
  border-color: rgb(21, 21, 21)
}

.x .c1-2e {
  border-top-width: 1px
}

.x .c1-2f {
  border-right-width: 1px
}

.x .c1-2g {
  border-bottom-width: 1px
}

.x .c1-2h {
  border-left-width: 1px
}

.x .c1-2i {
  color: rgb(21, 21, 21)
}

.x .c1-2j {
  font-size: 31px
}

.x .c1-2k {
  font-weight: 400
}

.x .c1-2q {
  word-wrap: normal !important
}

.x .c1-2r {
  overflow-wrap: normal !important
}

.x .c1-2s {
  width: auto
}

.x .c1-2t {
  visibility: hidden
}

.x .c1-2u {
  position: absolute
}

.x .c1-2v {
  overflow: visible
}

.x .c1-2w {
  left: 0px
}

.x .c1-2x {
  font-size: 35px
}

.x .c1-32 {
  font-size: 24px
}

.x .c1-37 {
  justify-content: flex-end
}

.x .c1-38 {
  padding-bottom: 24px
}

.x .c1-3a {
  width: 0px
}

.x .c1-3b {
  padding-top: 0px
}

.x .c1-3c {
  padding-right: 0px
}

.x .c1-3d {
  padding-bottom: 0px
}

.x .c1-3e {
  padding-left: 0px
}

.x .c1-3f {
  [object -object]: 0px
}

.x .c1-3j figure {
  width: 100%
}

.x .c1-3k {
  margin-right: 0px
}

.x .c1-3l {
  margin-left: 0px
}

.x .c1-3n {
  height: 100%
}

.x .c1-3o {
  border-width: 0 !important
}

.x .c1-3p {
  vertical-align: middle
}

.x .c1-3q {
  aspect-ratio: 1.7019108280254778 / 1
}

.x .c1-3r {
  border-radius: 0px !important
}

.x .c1-3t {
  letter-spacing: 0.125em
}

.x .c1-3u {
  text-transform: uppercase
}

.x .c1-3v {
  line-height: 1.4
}

.x .c1-3w {
  text-align: left
}

.x .c1-3x {
  color: rgb(76, 120, 181)
}

.x .c1-3z {
  font-size: unset
}

.x .c1-40 {
  color: inherit
}

.x .c1-41 {
  font-family: unset
}

.x .c1-42 {
  letter-spacing: unset
}

.x .c1-43 {
  text-transform: unset
}

.x .c1-44 {
  box-sizing: border-box
}

.x .c1-45 {
  flex-direction: row
}

.x .c1-46 {
  flex-wrap: wrap
}

.x .c1-47 {
  margin-right: -12px
}

.x .c1-48 {
  margin-bottom: -24px
}

.x .c1-49 {
  margin-left: -12px
}

.x .c1-4e {
  flex-grow: 1
}

.x .c1-4f {
  flex-shrink: 1
}

.x .c1-4g {
  flex-basis: 100%
}

.x .c1-4h {
  padding-right: 12px
}

.x .c1-4i {
  padding-bottom: 48px
}

.x .c1-4j {
  padding-left: 12px
}

.x .c1-4p {
  align-self: flex-start
}

.x .c1-4u {
  aspect-ratio: 1.33 / 1
}

.x .c1-4v {
  order: -1
}

.x .c1-4w {
  z-index: 1
}

.x .c1-4x {
  border-radius: 0
}

.x .c1-4z {
  flex-direction: column
}

.x .c1-50>* {
  max-width: 100%
}

.x .c1-51 {
  align-items: flex-start
}

.x .c1-52> :nth-child(n) {
  margin-bottom: 24px
}

.x .c1-53> :last-child {
  margin-bottom: 0 !important
}

.x .c1-56 {
  line-height: 1.5
}

.x .c1-57>p>ol {
  text-align: left
}

.x .c1-58>p>ol {
  display: block
}

.x .c1-59>p>ol {
  padding-left: 1.3em
}

.x .c1-5a>p>ol {
  margin-left: 16px
}

.x .c1-5b>p>ol {
  margin-right: 16px
}

.x .c1-5c>p>ol {
  margin-top: auto
}

.x .c1-5d>p>ol {
  margin-bottom: auto
}

.x .c1-5e>p>ul {
  text-align: left
}

.x .c1-5f>p>ul {
  display: block
}

.x .c1-5g>p>ul {
  padding-left: 1.3em
}

.x .c1-5h>p>ul {
  margin-left: 16px
}

.x .c1-5i>p>ul {
  margin-right: 16px
}

.x .c1-5j>p>ul {
  margin-top: auto
}

.x .c1-5k>p>ul {
  margin-bottom: auto
}

.x .c1-5l>ul {
  text-align: left
}

.x .c1-5m>ul {
  display: block
}

.x .c1-5n>ul {
  padding-left: 1.3em
}

.x .c1-5o>ul {
  margin-left: 16px
}

.x .c1-5p>ul {
  margin-right: 16px
}

.x .c1-5q>ul {
  margin-top: auto
}

.x .c1-5r>ul {
  margin-bottom: auto
}

.x .c1-5s>ol {
  text-align: left
}

.x .c1-5t>ol {
  display: block
}

.x .c1-5u>ol {
  padding-left: 1.3em
}

.x .c1-5v>ol {
  margin-left: 16px
}

.x .c1-5w>ol {
  margin-right: 16px
}

.x .c1-5x>ol {
  margin-top: auto
}

.x .c1-5y>ol {
  margin-bottom: auto
}

.x .c1-5z {
  color: rgb(94, 94, 94)
}

.x .c1-60 {
  font-size: 18px
}

.x .c1-68 {
  font-size: inherit !important
}

.x .c1-69 {
  font-weight: 700
}

.x .c1-6a {
  line-height: inherit
}

.x .c1-6b {
  font-style: italic
}

.x .c1-6c {
  text-decoration: line-through
}

.x .c1-6d {
  text-decoration: underline
}

.x .c1-6e {
  padding-top: 16px
}

.x .c1-6f {
  max-width: 700px
}

.x .c1-6g {
  min-height: 40px
}

.x .c1-6i {
  margin-top: 16px
}

.x .c1-6j {
  color: white
}

.x .c1-6k {
  display: block
}

.x .c1-6l {
  height: 70px
}

.x .c1-6m {
  width: 50px
}

.x .c1-6n {
  background: rgba(0, 0, 0, 0.5)
}

.x .c1-6o {
  outline: none
}

.x .c1-6p {
  top: 0px
}

.x .c1-6q {
  right: 0px
}

.x .c1-6r {
  opacity: 0
}

.x .c1-6s {
  transition: opacity 0.5s
}

.x .c1-6t:hover {
  opacity: 1
}

.x .c1-6u {
  color: rgb(255, 255, 255)
}

.x .c1-6v {
  font-size: 14px
}

.x .c1-6w {
  transform: translateY(-50%)
}

.x .c1-6x {
  background-color: rgba(22, 22, 22, 0.5)
}

.x .c1-6y {
  margin-top: 300px
}

.x .c1-6z:hover {
  background-color: rgba(22, 22, 22, 0.5)
}

.x .c1-70:active {
  background-color: rgba(22, 22, 22, 0.5)
}

.x .c1-7a {
  overflow: hidden
}

.x .c1-7b {
  padding-left: 0 !important
}

.x .c1-7c {
  padding-right: 0 !important
}

.x .c1-7i {
  min-height: 200px
}

.x .c1-7m {
  margin-bottom: 40px
}

.x .c1-7n {
  letter-spacing: 0.045em
}

.x .c1-7o {
  line-height: 1.25
}

.x .c1-7p {
  color: rgb(27, 27, 27)
}

.x .c1-7q {
  font-size: 22px
}

.x .c1-7v> :last-child {
  margin-bottom: 0
}

.x .c1-7w {
  white-space: nowrap
}

.x .c1-7x {
  padding-left: 4px
}

.x .c1-7y:hover {
  color: rgb(42, 72, 110)
}

.x .c1-7z:active {
  color: rgb(27, 49, 77)
}

.x .c1-80 {
  margin-top: 4px
}

.x .c1-81 {
  transition: transform .33s ease-in-out
}

.x .c1-82 {
  transform: rotate(0deg)
}

.x .c1-83 {
  left: 4px
}

.x .c1-85 {
  aspect-ratio: 2 / 1
}

.x .c1-86 {
  object-fit: cover
}

.x .c1-87 {
  max-height: 800px
}

.x .c1-88 {
  box-shadow: none
}

.x .c1-8a {
  padding-top: 56px
}

.x .c1-8b {
  padding-bottom: 56px
}

.x .c1-8c {
  border-color: #999
}

.x .c1-8d {
  letter-spacing: 0.083em
}

.x .c1-8e {
  color: rgb(89, 89, 89)
}

.x .c1-8f {
  font-size: 12px
}

.x .c1-8k {
  border-color: transparent
}

.x .c1-8l {
  width: 50px
}

.x .c1-8m {
  position: fixed
}

.x .c1-8n {
  z-index: 10000
}

.x .c1-8o {
  height: auto
}

.x .c1-8p {
  background-color: rgb(116, 162, 227)
}

.x .c1-8q {
  overflow-y: auto
}

.x .c1-8r {
  transition: all 1s ease-in
}

.x .c1-8s {
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3)
}

.x .c1-8t {
  contain: content
}

.x .c1-8u {
  bottom: -500px
}

.x .c1-92 {
  color: rgb(0, 0, 0)
}

.x .c1-93 {
  max-height: 300px
}

.x .c1-94 {
  color: rgb(18, 19, 20)
}

.x .c1-96 {
  letter-spacing: 0.214em
}

.x .c1-97 {
  transition: all 0.3s
}

.x .c1-98 {
  margin-top: 24px
}

.x .c1-99 {
  margin-bottom: 4px
}

.x .c1-9a {
  word-break: break-word
}

.x .c1-9b {
  flex-basis: 50%
}

.x .c1-9c {
  border-style: none
}

.x .c1-9d {
  padding-top: 4px
}

.x .c1-9e {
  padding-bottom: 4px
}

.x .c1-9f {
  background-color: rgb(0, 0, 0)
}

.x .c1-9g {
  text-shadow: none
}

.x .c1-9h:hover {
  background-color: rgb(0, 0, 0)
}

.x .c1-9j:nth-child(2) {
  margin-left: 24px
}